/**
 * @file
 * This file can host your custom FontFolio CSS.
 *
 * Rename this file by removing ".txt" extension from file name's end.
 * Leaving only the ".css" extension.
 *
 * Rename it from:
 *   "my-custom-ff.css.txt"
 * into:
 *   "my-custom-ff.css"
 *
 */

/* Slideshow Admin Styles*/

.page-slideshow-admin h1#page-title {
  font-size: 30px;
  padding-left: 0;
}

.page-slideshow-admin .views-table {
  width: 100%;
  text-align: center;
}

.page-slideshow-admin .views-table th {
  text-align: center;
  padding-right: 0px;
}

.page-slideshow-admin .views-exposed-form {
  margin-bottom: 40px;
}

.page-slideshow-admin td.views-field.views-field-title {
  width: 300px;
}

.page-slideshow-admin td.views-field.views-field-edit-node {
  padding: 0 10px;
}

.page-slideshow-admin td.views-field.views-field-field-slideshowtags {
  width: 100px;
}

.page-slideshow-admin td.views-field.views-field-field-slideshow-image {
  width: 180px;
}

table.resources td, table.resources th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
}

table.resources {
  margin-top: 20px;
}

/*Dropdown Menu*/

#header_top #main-menu a {
  padding: 10px 5px 3px;
}

#header_top #main-menu li:hover, #header_top #main-menu li a.active, #header_top #main-menu li.active-parent a {
  background: #000;
  color: #fff;
}

#header_top #main-menu li:hover a {
  border: none;
  color: #fff;
}

#header_top #main-menu li a {
  margin: 0;
}

#header_top #main-menu li {
  margin-right: 20px;
}

#header_top a.language-link:hover {
  border: none;
  padding: 0;
}

#header_top a.language-link {
  padding: 0;
}

#header_top #main-menu li ul li {
  width: 250px;
  margin-right: 0;
}

#header_top #main-menu li ul {
  background: #000;
  padding: 0;
  top: 16px;
}

#header_top #main-menu li ul li a {
  padding: 10px;
  color: #FFF;
}

#header_top #main-menu li ul li a:hover, #header_top #main-menu li ul li a.active {
  background: #ED1B24;
}

#header_top #main-menu ul.sub-menu.tier-three {
  display: none;
}

#header_top .menu_cont a.menu-toggle {
  display: none;
}

#header_top ul#main-menu {
  margin: 12px 0 -1px;
  padding: 0;
}

#header_top .menu_cont li.active a {
  border-top: none;
  color: #000;
  padding-top: 0;
}

#langs {
  margin-top: 24px;
}

#header_top .search img {
  position: absolute;
  width: 380px;
  top: 101px;
  right: 0;
}

@media (max-width: 767px) {
  #main_container #header_top nav.menu_cont ul li a:hover {
    color: #ED1C24;
  }
  #main_container #header_top nav.menu_cont ul li a {
    color: #000;
  }
}

/*Gallery*/

.gallery-view .item-list ul li.views-row {
  display: inline-block;
  margin: 5px 5px 5px 0;
  vertical-align: top;
}

.gallery-view .item-list ul li.views-row a {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  height: 250px;
  display: block;
  text-decoration: none;
}

.gallery-view .item-list ul li.views-row a:hover {
  background: #fff;
  color: #000;
}

.gallery-view {
  background: #F0F0F0;
  padding: 20px;
}

.gallery-view .views-field.views-field-field-bag-image img {
  display: block;
  margin: 0 auto 10px;
}

.gallery-view .view-filters #edit-combine-wrapper {
  width: 100%;
}

.gallery-view .view-filters .form-submit {
  margin-top: 0;
}

.gallery-view .view-filters label[for="edit-combine"] {
  margin-bottom: 6px;
}

/*Gallery Item View*/

.node-type-gallery-image h1 {
  position: absolute;
  left: -99999px;
}

.node-type-gallery-image div.photo {
  float: left;
  margin-bottom: 30px;
  width: 550px;
}

.node-type-gallery-image div.photo p.terms {
  font-size: 12px;
  line-height: initial;
}

.node-type-gallery-image .field-label, .field-items, .field-item {
  display: inline;
}

.node-type-gallery-image article .content, .node-type-gallery-image article .content p, .node-type-gallery-image article .content .field-label {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}

.node-type-gallery-image article .content {
  padding-top: 30px;
}

.node-type-gallery-image .field-type-text, .node-type-gallery-image .field-type-taxonomy-term-reference, .node-type-gallery-image .field-type-text-long, .node-type-gallery-image .bio-link {
  margin-bottom: 14px;
  margin-left: 580px;
}

.node-type-gallery-image .field-name-field-artwork-title {
  font-style: italic;
}

.node-type-gallery-image div.gallery-return a {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

/*Biographies*/

.page-node-191 .view-artist-link-list, .page-node-191 .view-artist-bios p, .page-node-191 .view-artist-bios a, .page-node-193 .view-artist-link-list-french, .page-node-193 .view-artist-bios-french p, .page-node-193 .view-artist-bios-french a {
  font-size: 16px;
}

.page-node-191 .view-artist-link-list .views-row, .page-node-193 .view-artist-link-list-french .views-row {
  margin-bottom: 5px;
}
