/**
 * @file
 * This file can host your custom FontFolio CSS.
 *
 * Rename this file by removing ".txt" extension from file name's end.
 * Leaving only the ".css" extension.
 *
 * Rename it from:
 *   "my-custom-ff.css.txt"
 * into:
 *   "my-custom-ff.css"
 *
 */

/* Slideshow Admin Styles*/

.page-slideshow-admin h1#page-title {
  font-size: 30px;
  padding-left: 0;
}

.page-slideshow-admin .views-table {
  width: 100%;
  text-align: center;
}

.page-slideshow-admin .views-table th {
  text-align: center;
  padding-right: 0px;
}

.page-slideshow-admin .views-exposed-form {
  margin-bottom: 40px;
}

.page-slideshow-admin td.views-field.views-field-title {
  width: 300px;
}

.page-slideshow-admin td.views-field.views-field-edit-node {
  padding: 0 10px;
}

.page-slideshow-admin td.views-field.views-field-field-slideshowtags {
  width: 100px;
}

.page-slideshow-admin td.views-field.views-field-field-slideshow-image {
  width: 180px;
}

table.resources td, table.resources th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
}

table.resources {
  margin-top: 20px;
}

/*Dropdown Menu*/

/************* NOTE: CHANGE ABS POSITIONING IN TAGLINE TO TOP: 50PX; *******************/


/*
#header_top #menu a {
  padding: 3px 3px 0;
}

#header_top #menu a:hover, #header_top #menu li.active a {
  background: #000;
  color: #fff;
  border: none;
}

#header_top a.language-link:hover {
  border: none;
  padding: 0;
}

#header_top a.language-link {
  padding: 0;
}

*/
