/**
 * @file
 * This file can host your custom FontFolio CSS.
 *
 * Rename this file by removing ".txt" extension from file name's end.
 * Leaving only the ".css" extension.
 *
 * Rename it from:
 *   "my-custom-ff.css.txt"
 * into:
 *   "my-custom-ff.css"
 *
 */

/* Slideshow Admin Styles*/

.page-slideshow-admin h1#page-title {
  font-size: 30px;
  padding-left: 0;
}

.page-slideshow-admin .views-table {
  width: 100%;
  text-align: center;
}

.page-slideshow-admin .views-table th {
  text-align: center;
  padding-right: 0px;
}

.page-slideshow-admin .views-exposed-form {
  margin-bottom: 40px;
}

.page-slideshow-admin td.views-field.views-field-title {
  width: 300px;
}

.page-slideshow-admin td.views-field.views-field-edit-node {
  padding: 0 10px;
}
